aside.aside.d-grid
    button.button.btn.btn-block.border-0.active
        svg
            use(xlink:href="img/sprites/sprite.svg#gallery")
        = 'All photos'
    button.button.btn.btn-block.border-0
        svg.smile
            use(xlink:href="img/sprites/sprite.svg#smile")
        = 'Selfies'
    button.button.btn.btn-block.border-0
        svg.clock
            use(xlink:href="img/sprites/sprite.svg#clock")
        = 'Recent'
    button.button.btn.btn-block.border-0
        svg
            use(xlink:href="img/sprites/sprite.svg#backet")
        = 'Deleted'