main.main.pb-4
    section.main-section
        div.section-top.d-flex.justify-content-between
            h1.title  All photos
            .btn-group
                button.btn.btn-outline-dark.btn-dark.rounded-start-pill Newest
                button.btn.btn-outline-secondary.rounded-end-pill Latest
        p.items 150 items
        .container.overflow-hidden
            #cards.cards.row.gy-4
                .col-12.col-md-6
                    .card
                        img(class='card-img-top' src='img/img1.png' alt="image")
                        .card-body
                            h5.card-title.ms-3 Heading
                            p.card-text.ms-3.custom-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, porro.

                        .card-footer.p-4
                            button.btn.btn-success Save to collection
                            button.btn.btn-outline-secondary Share
                .col-12.col-md-6
                    .card
                        img(class='card-img-top' src='img/img2.png' alt="image")
                        .card-body
                            h5.card-title.ms-3 Heading
                            p.card-text.ms-3.custom-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at blanditiis consequatur delectus deserunt dolores eaque ex inventore laboriosam modi, nam nostrum obcaecati porro quas ratione reprehenderit saepe? Amet at commodi, corporis cum, cupiditate deleniti et explicabo harum illum laboriosam laudantium libero molestiae, nemo nihil pariatur quas repellendus repudiandae sed?

                        .card-footer.p-4
                            button.btn.btn-success Save to collection
                            button.btn.btn-outline-secondary Share
                .col-12.col-md-6
                    .card
                        img(class='card-img-top' src='img/img3.png' alt="image")
                        .card-body
                            h5.card-title.ms-3 Heading
                            p.card-text.ms-3.custom-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, porro.

                        .card-footer.p-4
                            button.btn.btn-success Save to collection
                            button.btn.btn-outline-secondary Share
                .col-12.col-md-6
                    .card
                        img(class='card-img-top' src='img/img4.png' alt="image")
                        .card-body
                            h5.card-title.ms-3 Heading
                            p.card-text.ms-3.custom-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, porro.

                        .card-footer.p-4
                            button.btn.btn-success Save to collection
                            button.btn.btn-outline-secondary Share